<nav  class="navbar navbar-expand-lg navbar-light " style="background-color:linear-gradient(45deg,#93A5CF,#E4EfE9);">
  <!-- <nav class="navbar navbar-light" > -->

  <div class="container-fluid">
    <a class="navbar-brand" href="#">On Card</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      
      <form class="d-flex">
        <input class="form-control me-2" id="input" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <!-- <ul id="ul" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/seller']"  >Seller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  matBadge="0" [routerLink]="['/cart']">Cart</a>
        </li>
      </ul>
     -->
     <div [ngSwitch]="menuType">
      <ul class="navbar-nav ms-auto" *ngSwitchCase="'default'">
        <li class="nav-item">
          <a class="nav-link active text-white" href="seller">Seller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="#">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="#">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="#">Card</a>
        </li>

      </ul>


      <ul class="navbar-nav ms-auto" *ngSwitchCase="'seller'">
        <li class="nav-item">
          <a class="nav-link active text-white" routerLink="seller">{{sellerName | titlecase}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="add-product">+Product</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" routerLink="seller-home">List</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="" (click)="logout()">Logout</a>
        </li>

      </ul>

      </div>
    </div>
  </div>
</nav>